# Credentials and Keys
Credentials/*.xml
Credentials/*.key
Credentials/*.enc
Credentials/*.pwd
!Credentials/*.md

# Custom Scripts Sub-directory in main branch
# Scripts/Windows/Custom/*

# Logs
Logs/*.log
Scripts/Windows/Logs/*.log
Scripts/Linux/Logs/*.log

# Host Specific dynamic variables
Variables/Hosts/*/
!Variables/Hosts/DefaultHost/

# Python cache
__pycache__/
*.pyc
